@media screen and (min-width:800px){
	.mainImage>img{
	    position: absolute;
	    top:0;
	    left: 0;
	    right: 0;
	    bottom:0;
	    margin: auto;
	    z-index: 100;
	    width: 60%;
	    height: 100%;
	}
/*	.formDt{
		display: none;
	}*/
}